.button--container {
    background-color:#ffffff;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.btn-primary {
    background-color: #f47e41;
    border-color: #f47e41;
}

.btn-primary:hover {
    background-color: #d66f3b;
    border-color: #d66f3b;
}

#options-form {
    padding: 10px;
    padding-top: 2px;
    margin:0;
    text-align: left;
}

.popup-container {
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
}

.options-page {
    padding: 10px;
    margin:auto;
    text-align: center;
}

.popup-title {
    padding: 10px;
    margin:auto;
    text-align: center;
}

.popup-title-container {
    width:200px
}

.options-container {
    padding: 20%;
    width: fit-content;
    height: fit-content;
}

.options-button-container {
    text-align: center;
}






