.button--container {
    background-color:#ffffff;
    padding: 30px;
    justify-content: center;
    text-align: center;
}

.popup-container {
    width: fit-content;
    height: fit-content;
    margin-bottom: 10px;
}

#set-name {
    padding: 10px;
    padding-top: 2px;
    margin:0;
    text-align: center;
}

.small-descriptor {
    padding-left: 10px;
}

.options-page {
    padding: 10px;
    margin:auto;
    text-align: center;
}

.popup-title {
    padding: 10px;
    margin:auto;
    text-align: center;
}

.popup-title-container {
    width:200px
}


.options-container {
    padding: 20%;
    width: fit-content;
    height: fit-content;
}






